<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
    <title>Better TFRRS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="fs-4 navbar-brand" href="/">Better TFRRS</a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
<!--                <ul class="navbar-nav ml-auto">-->
<!--                    <li th:each="teamDTO : ${globalLinks}">-->
<!--                        <div class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${teamDTO.name}">-->
<!--                        </div>-->
<!--                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                            <li><a class="dropdown-item" th:href="${teamDTO.mensLink}">Mens</a></li>-->
<!--                            <li><a class="dropdown-item" th:href="${teamDTO.womensLink}">Womens</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                </ul>-->

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown" th:each="teamDTO : ${globalLinks}">
<!--                    <a class="dropdown-item" th:href="${teamDTO.mensLink}">Mens</a>-->
<!--&lt;!&ndash;                    <span th:text="${teamDTO.mensLink}"></span>&ndash;&gt;-->
<!--                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${teamDTO.name}"></a>-->
<!--                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                            <li>-->
                                  <a class="dropdown-item" th:href="'/'+ ${teamDTO.teamLink}" th:text="${teamDTO.name}"></a>
<!--                            </li>-->
<!--                            <li><a class="dropdown-item" th:href="${teamDTO.womensLink}">Women</a></li>-->
<!--                        </ul>-->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container content pb-2 px-0 mt-0 my-sm-3 rounded">
    <div layout:fragment="content">decorate layout</div>
</div>

<footer class="mt-auto pt-3">
    <div class="container ">
        <div class="row text-center">
            <div class="col-md-6 mb-4">
                <h5 class="mb-3">About</h5>
                <p>
                    I made this website in my free time, if there are issues you notice with the website you can shoot me an email and I can see if I can fix it, otherwise enjoy the website.
                </p>
                <a href = "mailto:kopp.austin@outlook.com?subject = UWSP Track PRs Website">Send Email</a>
            </div>
            <div class="col-md-6 mb-4">
                <h5 class="mb-3" >WIAC TFRRS Page</h5>
                <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                        <a href="https://www.tfrrs.org/leagues/1420.html">TFFRS</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Austin Kopp
    </div>
</footer>
</body>
</html>