<!DOCTYPE html>
<html th:replace="~{base :: base(~{::content})}" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
    <div class="text-center">
        <div class="custom-background rounded-top">
            <h3 class="col-12 display-3 p-2 pb-0 mb-0" th:text="${teamName}"></h3>
            <h3 class="col-12 display-5 p-2 pt-0"th:text = "${eventName} + ' PR\'s'"></h3>
        </div>
        <div class="input-group py-2 px-4">
            <input type="text" id="athlete-search-box" class="form-control" placeholder="Search athlete...">
        </div>
        <div id="athlete-container" class="row justify-content-center">
            <div id="no-matching-athletes"></div>
            <div class="athlete col-5 col-md-3 col-lg-2 m-1 p-1 d-flex flex-column" th:each = "athleteName, eachStatus : ${eventBestsDTO.athleteNames}">
                <a class = "mb-1 flex-grow-1 btn w-100 custom-btn" th:href="${eventBestsDTO.athleteURLs[eachStatus.index]}" th:text = "${athleteName}"></a>
                <a class = "w-100 btn w-100 custom-btn" th:href="${eventBestsDTO.tfrrsBestLinks[eachStatus.index]}" th:text = "${eventBestsDTO.marks[eachStatus.index]}"></a>
            </div>
        </div>
    </div>
    <script src="/js/athlete-filtering.js"></script>
</div>
</body>
</html>

