<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="base"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content" class="text-center">
    <div class="custom-background rounded-top">
        <h3 class="col-12 display-3 p-2 pb-0 mb-0" th:text="${teamDTO.name}"></h3>
        <h3 class="col-12 display-5 p-2 pt-0">PR's by</h3>
    </div>
    <div class="row justify-content-center px-4">
        <div class="col-md-6 py-1 my-1">
            <div class = "white-background rounded pb-2">
                <div class="col-md-12 my-1">
                    <h3 class="custom-background rounded-top py-1 display-6">Event</h3>
                </div>
                <div class="col-md-12 py-1 my-1">
                    <a class="btn custom-btn w-75 h-100 " th:href="'/'+ ${teamDTO.teamLink + '/events'}">Men and Women</a>
                </div>
                <div class="col-md-12 py-1 my-1">
                    <a class="btn custom-btn w-75 h-100 " th:href="'/'+ ${teamDTO.teamLink + '/events/1'}">Men</a>
                </div>
                <div class="col-md-12 py-1 my-1">
                    <a class="btn custom-btn w-75 h-100 " th:href="'/'+ ${teamDTO.teamLink + '/events/0'}">Women</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 py-1 my-1">
            <div class = "white-background rounded pb-2">
                <div class="col-md-12 my-1">
                    <h3 class="custom-background rounded-top py-1 display-6">Athlete</h3>
                </div>
                <div class="col-md-12 py-1 my-1">
                    <a class="btn custom-btn w-75 h-100 " th:href="'/'+ ${teamDTO.teamLink + '/athletes'}">Men and Women</a>
                </div>
                <div class="col-md-12 py-1 my-1">
                    <a class="btn custom-btn w-75 h-100 " th:href="'/'+ ${teamDTO.teamLink + '/athletes/1'}">Men</a>
                </div>
                <div class="col-md-12 py-1 my-1">
                    <a class="btn custom-btn w-75 h-100 " th:href="'/'+ ${teamDTO.teamLink + '/athletes/1'}">Women</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h1>This is where the weekly pr data will go</h1>
    </div>
</div>
</body>
</html>

