<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="base"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content" class="text-center">
    <div class="custom-background rounded-top">
        <h3 class="col-12 display-3 p-2 pb-0 mb-0" th:text="${teamDTO.name}"></h3>
        <h3 class="col-12 display-5 p-2 pt-0">PR's by</h3>
    </div>
    <div class="row justify-content-center px-4">
        <div class="col-md-6 py-1 my-1">
            <div class = "white-background rounded pb-2">
                <div class="col-md-12 my-1">
                    <h3 class="custom-background rounded-top py-1 display-6">Event</h3>
                </div>
                <div class="col-md-12 py-1 my-1">
                    <a class="btn custom-btn w-75 h-100 " th:href="'/'+ ${teamDTO.teamLink + '/events'}">Men and Women</a>
                </div>
                <div class="col-md-12 py-1 my-1">
                    <a class="btn custom-btn w-75 h-100 " th:href="'/'+ ${teamDTO.teamLink + '/events?isMensTeam=1'}">Men</a>
                </div>
                <div class="col-md-12 py-1 my-1">
                    <a class="btn custom-btn w-75 h-100 " th:href="'/'+ ${teamDTO.teamLink + '/events?isMensTeam=0'}">Women</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 py-1 my-1">
            <div class = "white-background rounded pb-2">
                <div class="col-md-12 my-1">
                    <h3 class="custom-background rounded-top py-1 display-6">Athlete</h3>
                </div>
                <div class="col-md-12 py-1 my-1">
                    <a class="btn custom-btn w-75 h-100 " th:href="'/'+ ${teamDTO.teamLink + '/athletes'}">Men and Women</a>
                </div>
                <div class="col-md-12 py-1 my-1">
                    <a class="btn custom-btn w-75 h-100 " th:href="'/'+ ${teamDTO.teamLink + '/athletes?isMensTeam=1'}">Men</a>
                </div>
                <div class="col-md-12 py-1 my-1">
                    <a class="btn custom-btn w-75 h-100 " th:href="'/'+ ${teamDTO.teamLink + '/athletes?isMensTeam=0'}">Women</a>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${not #lists.isEmpty(meetDTOS)}">
        <div class = "justify-content-center" th:each = "meetDTO : ${meetDTOS}">
            <div class = "text-center content">
                <h2 class="custom-background p-2 mt-2 rounded" th:text="${meetDTO.meetname}"></h2>
                <h3 th:text="${meetDTO.meetdate}"></h3>
                <h5 class="pb-3" th:text="${meetDTO.numberofprs} + ' total pr\'s | ' + ${meetDTO.uniqueprs} +' people pr\'d'"></h5>
            </div>
            <div class="justify-content-center container">
                <div th:each = "recentPrsDTO : ${meetDTO.prsatmeet}" >
                    <span class="fs-5" th:text="${recentPrsDTO.athletename} + ' set a pr of '+${recentPrsDTO.pr}+' in '+${recentPrsDTO.eventname}"></span>
                </div>
            </div>
        </div>
    </div>
    <div th:unless="${not #lists.isEmpty(meetDTOS)}">
        <h1>No recent PRs available</h1>
        <p class="fs-4 px-4">There have been no recent prs in the last two meets please feel free to look at the prs sorted by event or athlete by using the links above!</p>
    </div>

</div>
</body>
</html>

