<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div>
    <h3>List of Teams</h3>
    <ul>
        <!-- Loop through the teams and display information for each team -->
        <li th:each="team : ${teamsList}">
            <!-- Display team information, adjust this based on your Team class properties -->
            <span th:text="${team.name}"></span> - <span th:text="${team.link}"></span>        </li>
    </ul>
</div>
</body>
</html>

